.container{
    margin: 0 auto;
    padding: 0 100px;
    overflow-y: hidden;
}

@media screen and (max-width: 420px){
    .container{
        margin: 0 auto;
        padding: 0 10px;
        overflow-y: hidden;
    }
}
